<section id="about">
	<p> </p>
	<div class="row about-how">
		<h1 class="intro-header">Zekais-Api</h1>
		<h4 style="text-align: center;">Hello <%= username %>, Your Apikey : <%= apikey %></h4>
	</div>
	<div class="row justify-content-center">
		<h4 data-aos="fade-up">Docs Page</h4>
		<div class="col-twelve"  style="font-size: 16px;">
			<div class="plan-block" data-aos="fade-up">
				<div style="overflow-x:auto !important;">
					<table class="table mb-0" style="width: 100% !important;">
						<thead class="text-primary">
							<tr>
								<th scope="col">API NAME</th>
								<th scope="col">PARAMETER</th>
								<th scope="col">INFORMATION</th>
								<th scope="col">ACTION</th>
							</tr>
						</thead>
						<tbody style="text-align: center !important;">
							<tr>
								<td>Youtube Mp3</td>
								<td>url & apikey</td>
								<td>Youtube Audio Downloader</td>
								<td>
									<a target="__blank" href="/api/ytmp3?url=https://www.youtube.com/watch?v=9JS47BC0WXc&apikey=<%= apikey %>" class="button button-primary cta">Try</a>
								</td>
							</tr>
							<tr>
								<td>Youtube Mp4</td>
								<td>url & apikey</td>
								<td>Youtube Video Downloader</td>
								<td>
									<a target="__blank" href="/api/ytmp4?url=https://www.youtube.com/watch?v=9JS47BC0WXc&apikey=<%= apikey %>" class="button button-primary cta">Try</a>
								</td>
							</tr>
							<tr>
								<td>Youtube Play</td>
								<td>query & apikey</td>
								<td>Youtube Audio Downloader</td>
								<td>
									<a target="__blank" href="/api/ytplay?query=alone&apikey=<%= apikey %>" class="button button-primary cta">Try</a>
								</td>
							</tr>
							<tr>
								<td>Cak Lontong</td>
								<td>apikey</td>
								<td>Cak Lontong</td>
								<td>
									<a class="button button-primary" target="__blank" href="/api/caklontong?apikey=<%= apikey %>">Try</a>
								</td>
							</tr>
							<tr>
								<td>Quotes</td>
								<td>apikey</td>
								<td>Random Quotes</td>
								<td>
									<a class="button button-primary" target="__blank" href="/api/quotes?apikey=<%= apikey %>">Try</a>
								</td>
							</tr>
							<tr>
								<td>Bijak</td>
								<td>apikey</td>
								<td>Random Bijak</td>
								<td>
									<a class="button button-primary" target="__blank" href="/api/bijak?apikey=<%= apikey %>">Try</a>
								</td>
							</tr>
							<tr>
								<td>Fakta</td>
								<td>apikey</td>
								<td>Random Fakta</td>
								<td>
									<a class="button button-primary" target="__blank" href="/api/fakta?apikey=<%= apikey %>">Try</a>
								</td>
							</tr>
							<tr>
								<td>Motivasi</td>
								<td>apikey</td>
								<td>Random Motivasi</td>
								<td>
									<a class="button button-primary" target="__blank" href="/api/motivasi?apikey=<%= apikey %>">Try</a>
								</td>
							</tr>
							<tr>
								<td>Penyegar Timeline</td>
								<td>apikey</td>
								<td>Random Penyegar Timeline</td>
								<td>
									<a class="button button-primary" target="__blank" href="/api/ptl?apikey=<%= apikey %>">Try</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> 
	</div> 
</section> 
